{% extends "layout.html" %}


{% block title %}Log a Recipe{% endblock%}

{% block main %}

	<!-- Allow user to fetch a recipe by URL -->
	<div class="row my-5 pt-5">
		<div class="col-md">
			<h1>From a website</h1>
			<br>
			<form action="/" method="post" >
				<div class="form-group p-2">
					<input type="text" autofocus class="form-control" name="url" placeholder="Recipe URL">
				</div>
				<br>
				<div class="p-2">
					<input type="submit" class="btn btn-dark" value="Log Your Recipe!">
				</div>
			</form>
		</div>

	<!-- Offer the user the option to upload a photo of a recipe (on desktop) or take a photo (on mobile) -->
		<div class="col-md" id="scan-form">
			<h1>From a book</h1>
			<form action="/" method="post" enctype="multipart/form-data">
				<div class="form-group p-3">
					<input type="text" class="form-control" id="recipetitle" placeholder="Recipe Title">
				</div>
				<div class="p-4">
					<input type="button" class="btn btn-dark" id="nextbutton" value="Next">
				</div>
			</form>
		</div>
	</div>

{% endblock %}
